body {
  background: #f7f9fa;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 20fr 1fr;
  grid-template-rows: 95vh 5vh;
  grid-template-areas:
    "sidebar main socialmedia-links"
    "footer footer footer";
}

main {
  background: red;
  grid-area: main;
}

/* The sidebar menu */
.sidenav {
  grid-area: sidebar;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #4b5c6b;
}
.sidenav ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sidenav li {
  margin-left: -30px;
  margin-bottom: 50px;
  list-style-type: none;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

/* Tooltip */
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 80px;
  background-color: black;
  opacity: 0.8;
  color: #fff;
  text-align: center;
  padding: 2px 0px;
  border-radius: 5px;
  font-size: 15px;

  position: absolute;
  margin-top: -32px;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 13%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.socialmedia-links {
  grid-area: socialmedia-links;
  background: blue;
}

footer {
  grid-area: footer;
  background: purple;
}
