body {
  background: #f7f9fa;
  margin: 0;
}

.container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 80px auto 20px;
  grid-template-rows: auto 30px;
  grid-template-areas:
    "sidebar main socialmedia-links"
    "footer footer footer";
}

/* Begin main content */
main {
  background: #f7f9fa;
  grid-area: main;
  font-family: "Roboto", sans-serif;
}
p {
  text-align: justify;
  font-family: "Roboto", sans-serif;
}

.title {
  margin-left: 5vw;
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 80px;
  display: inline-block;
  background: #292b2d;
  color: white;
  width: auto;
  padding: 10px;
  border-radius: 15px;
}

.contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}

.contactbox {
  height: 400px;
  width: 400px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 50px 50px;
  grid-template-areas:
    "icon"
    "title"
    "information";
  background: white;
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  transition: 0.5s ease;
  cursor: pointer;
  margin: 30px;
}

.contactbox:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.contactbox i {
  grid-area: icon;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background: #1a1a1a;
  background-size: 300px;
  padding-top: 10px;
  height: 40px;
  text-align: center;
  font-size: 30px;
  color: #fff;
}

.contactbox h3 {
  grid-area: title;
  margin-top: 30px;
  text-align: center;
}

.contactbox p {
  grid-area: information;
  text-align: center;
  margin-top: 30px;
}

/* End main content */

/* The sidebar menu */
.sidenav {
  grid-area: sidebar;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1a1a1a;
  width: 80px;
}
.sidenav ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-top: 30vh;
}
.sidenav li {
  margin-left: -30px;
  margin-bottom: 50px;
  list-style-type: none;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #cccccc;
  display: block;
}

.sidenav a:hover {
  color: #fff;
}

/* Begin tooltip */

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 80px;
  background-color: black;
  opacity: 0.8;
  color: #fff;
  text-align: center;
  padding: 2px 0px;
  border-radius: 5px;
  font-size: 15px;

  position: absolute;
  margin-top: -32px;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 13%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
/* end tooltip */

/* begin social media links */
.socialmedia-links {
  grid-area: socialmedia-links;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 35vh;
  right: 0;
}

.socialmedia-links ul {
  list-style-type: none;
}
.socialmedia-links li {
  padding: 10px;
}
.socialmedia-links i {
  font-size: 30px;
  color: white;
  margin: 0px;
}
#github {
  background: #a7aaad;
}
#github:hover {
  background: #24292e;
}
#linkedin {
  background: #99cbfa;
}
#linkedin:hover {
  background: #0966c2;
}
#instagram {
  background: #ed94ca;
}
#instagram:hover {
  background: #f09433;
  background: linear-gradient(
    45deg,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
/* end social media links */

/* Begin footer */
footer {
  grid-area: footer;
  background: #0c0c0c;
  border-top: 1px solid grey;
  color: grey;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  display: flex;
  align-items: center;
}
/* End footer */

@media (max-width: 700px) {
  .title {
    font-size: 40px;
  }
  .container {
    display: grid;
    min-height: 100%;
    grid-template-columns: auto 20px;
    grid-template-rows: 80px auto 30px;
    grid-template-areas:
      "navbar navbar"
      "main socialmedia-links"
      "footer footer";
  }
  .contactbox {
    height: 250px;
    width: 250px;
  }
  .sidenav {
    grid-area: navbar;
    z-index: 1;
    top: 0;
    background-color: #1a1a1a;
    width: 100%;
    height: 80px;
    margin: 0;
  }
  .sidenav ul {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    padding: 0;
    position: absolute;
    height: 80px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .sidenav li {
    display: inline;
    margin: auto;
    margin-top: 20px;
    padding-right: 20px;
    list-style-type: none;
  }
  .tooltip .tooltiptext {
    margin-top: 40px;
    display: none;
  }
}
